<h2>News and events</h2>
<div class="card" style="border: none;">
    <div class="card-body">
        <h4 class="card-title">April 24: CentOS Dojo at Facebook</h4>
        <p class="card-text">We have tentatively booked a CentOS Dojo at Facebook, in Menlo Park (San Francisco) California, on April 24th. Watch this space for more details.</p>
    </div>
    <div class="card-body">
        <h4 class="card-title">October 23: CentOS Dojo at CERN</h4>
        <p class="card-text">We’re excited to be going back to CERN for another CentOS Dojo. Join us October 23rd in Meyrin! <a href="http://cern.ch/centos">DETAILS</a></p>
    </div>
    <div class="card-body">
        <h4 class="card-title">Other Dojos!</h4>
        <p class="card-text">We’re working on two more Dojos in 2020, but details are still being figured out. We hope to be at Oak Ridge National Labs in September, and Fermilab at some date to be determined.&nbsp;<a href="https://wiki.centos.org/Events/">Watch the Events page in the wiki for details.</a></p>
    </div>
</div>
