<div>
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" href="#tab-1">8 (1911)</a></li>
        <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-2">7 (1908)</a></li>
        <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" href="#tab-3">6.10</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" role="tabpanel" id="tab-1">
            <div class="table-responsive table-borderless">
                <table class="table table-striped table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>ISO</th>
                            <th>Packages</th>
                            <th>Others</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>x86_64</td>
                            <td>RPM | SRPM</td>
                            <td>Cloud | Docker | Vagrant</td>
                        </tr>
                        <tr>
                            <td>aarch64</td>
                            <td>RPM | SRPM</td>
                            <td>Cloud | Docker | Vagrant</td>
                        </tr>
                        <tr>
                            <td>ppc64le</td>
                            <td>RPM | SRPM</td>
                            <td>Cloud | Docker | Vagrant</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive table-borderless">
                <table class="table table-striped table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>Release Notes</th>
                            <th>Release Email</th>
                            <th>Documentation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>CentOS | RHEL</td>
                            <td>CentOS</td>
                            <td>RHEL</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive table-borderless">
                <table class="table table-striped table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>End-of-life</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>31 May 2029&nbsp;<br></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane" role="tabpanel" id="tab-2">
            <div class="table-responsive table-borderless">
                <table class="table table-striped table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>ISO</th>
                            <th>Packages</th>
                            <th>Others</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>x86_64</td>
                            <td>RPM | SRPM</td>
                            <td>Cloud | Docker | Vagrant</td>
                        </tr>
                        <tr>
                            <td>aarch64</td>
                            <td>RPM | SRPM</td>
                            <td>Cloud | Docker | Vagrant</td>
                        </tr>
                        <tr>
                            <td>ppc64</td>
                            <td>RPM | SRPM</td>
                            <td>Cloud | Docker | Vagrant</td>
                        </tr>
                        <tr>
                            <td>ppc64le</td>
                            <td>RPM | SRPM</td>
                            <td>Cloud | Docker | Vagrant</td>
                        </tr>
                        <tr>
                            <td>armhfp</td>
                            <td>RPM | SRPM</td>
                            <td>Cloud | Docker | Vagrant</td>
                        </tr>
                        <tr>
                            <td>i386</td>
                            <td>RPM | SRPM</td>
                            <td>Cloud | Docker | Vagrant</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive table-borderless">
                <table class="table table-striped table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>Release Notes</th>
                            <th>Release Email</th>
                            <th>Documentation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>CentOS | RHEL</td>
                            <td>CentOS</td>
                            <td>RHEL</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive table-borderless">
                <table class="table table-striped table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>End-of-life</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>30 June 2024<br></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane" role="tabpanel" id="tab-3">
            <div class="table-responsive table-borderless">
                <table class="table table-striped table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>ISO</th>
                            <th>Packages</th>
                            <th>Others</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>x86_64</td>
                            <td>RPM | SRPM</td>
                            <td>Cloud | Docker | Vagrant</td>
                        </tr>
                        <tr>
                            <td>i386</td>
                            <td>RPM | SRPM</td>
                            <td>Cloud | Docker | Vagrant</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive table-borderless">
                <table class="table table-striped table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>Release Notes</th>
                            <th>Release Email</th>
                            <th>Documentation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>CentOS | RHEL</td>
                            <td>CentOS</td>
                            <td>RHEL</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="table-responsive table-borderless">
                <table class="table table-striped table-bordered table-sm">
                    <thead>
                        <tr>
                            <th>End-of-life</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>30 Nov 2020<br></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
