<h2>News & Events</h2>

<hr/>

<div class="media">
  <img class="media-object img-rounded mr-2" src="/assets/centos-logo-black.png" width="32" alt="CentOS">
  <div class="media-body">
    <h4 class="media-heading">CentOS 7.7.1908 released</h4>
    <p>We are pleased to announce the general availability of CentOS Linux 7
    (1908) for the x86_64 architecture. Details on the <a
    href="https://lists.centos.org/pipermail/centos-announce/2019-September/023405.html">CentOS-Devel
    mailing list</a>.</p>
  </div>
</div> 

<hr/>

<div class="media">
  <img class="media-object img-rounded mr-2" src="/assets/centos-logo-black.png" width="32" alt="CentOS">
  <div class="media-body">
    <h4 class="media-heading">CentOS 8 and CentOS Stream announced</h4>
    <p>We're pleased to announce the release of CentOS 8, and also
    of a new upstream called CentOS Stream. Get them both at <a
    href="http://centos.org/download/">centos.org/download</a>, and
    read all about Stream in the <a
    href="https://wiki.centos.org/Manuals/ReleaseNotes/CentOSStream">Release
    Notes</a>.</p>
  </div>
</div> 

<hr/>

<a href="https://www.facebook.com/groups/centosproject/"><button type="button" class="btn btn-light"><i class="fa fa-facebook"></i></button></a>
<a href="https://twitter.com/centosproject"><button type="button" class="btn btn-light"><i class="fa fa-twitter"></i></button></a>
<a href="https://google.com/+CentOS"><button type="button" class="btn btn-light"><i class="fa fa-google-plus"></i></button></a>
<a href="https://youtube.com/TheCentOSProject"><button type="button" class="btn btn-light"><i class="fa fa-youtube"></i></button></a>
<a href="https://www.linkedin.com/groups/22405"><button type="button" class="btn btn-light"><i class="fa fa-linkedin"></i></button></a>
<a href="https://www.reddit.com/r/CentOS/"><button type="button" class="btn btn-light"><i class="fa fa-reddit"></i></button></a>
