<section class="mt-2 mb-2">

  <div class="jumbotron">
    <h1 class="display-4">The CentOS Project</h1>
    <p class="lead">The CentOS Project is a community-driven free software effort focused on delivering a robust open source ecosystem around a Linux platform.</p>
    <hr class="my-4">
    <p>We offer two Linux distros:</p>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">CentOS Linux</h2>
                <p class="card-text">CentOS Linux is a consistent, manageable platform that suits a wide variety of deployments. For some open source communities, it is a solid, predictable base to build upon.</p>
                <a class="btn btn-primary btn-lg" href="#" role="button">8 (1905)</a>
                <a class="btn btn-primary btn-lg" href="#" role="button">7 (1908)</a>
                <a class="btn btn-primary btn-lg" href="#" role="button">6.10</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">CentOS Stream</h2>
            <p class="card-text">The new CentOS Stream is a rolling-release distro that tracks just ahead of Red Hat Enterprise Linux (RHEL) development, positioned as a midstream between Fedora Linux and RHEL. For anyone interested in participating and collaborating in the RHEL ecosystem, CentOS Stream is your reliable platform for innovation.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Latest</a>
          </div>
        </div>
      </div>
    </div>

    <hr class="my-4">
    <p>In support of this community effort, the CentOS Project provides extensive resources to build, test, release, and maintain code on these platforms.</p>
    <p>For more information about updates and improvements in CentOS Stream and CentOS Linux 8, please check out the <a href="https://wiki.centos.org/Manuals/ReleaseNotes/CentOSStream">CentOS Stream release notes</a> and the <a href="https://wiki.centos.org/Manuals/ReleaseNotes/CentOSLinux8">CentOS Linux release notes</a> or the release announcement in the mailing list archive. Information about other actively maintained CentOS Linux releases is available on the <a href="https://wiki.centos.org/Manuals/ReleaseNotes/CentOS7">CentOS Linux 7</a> and <a href="https://wiki.centos.org/Manuals/ReleaseNotes/CentOS6.10">CentOS Linux 6</a> release notes pages.</p>
  </div>
</section>

<section class="mt-2 mb-2">
  <div class="row">
    <div class="col">
      {%- include centos-around.html -%}
    </div>
    <div class="col">
      {%- include centos-news.html -%}
    </div>
    <div class="col">
      {%- include centos-sponsorship.html -%}
    </div>
  </div>
</section>
