<div class="footer-dark" style="background-color: rgb(0,7,52);">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="/about">About CentOS</a></li>
                        <li><a href="https://wiki.centos.org/FAQ">Frequently Asked Questions (FAQs)</a></li>
                        <li><a href="https://wiki.centos.org/SpecialInterestGroups">Special Interest Groups (SIGs)</a></li>
                        <li><a href="/variants">CentOS Variants</a></li>
                        <li><a href="/about/governance">Governance</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Community</h3>
                    <ul>
                        <li><a href="https://wiki.centos.org/Contribute">Contribute</a></li>
                        <li><a href="https://www.centos.org/forums/">Forums</a></li>
                        <li><a href="https://wiki.centos.org/GettingHelp/ListInfo">Mailing Lists</a></li>
                        <li><a href="https://wiki.centos.org/irc">IRC</a></li>
                        <li><a href="/community/calendar/">Calendar &amp; IRC Meeting List</a></li>
                        <li><a href="http://planet.centos.org/">Planet</a></li>
                        <li><a href="https://bugs.centos.org/">Submit Bug</a></li>
                        <li><a href="/community/stories/">Stories</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>The CentOS Project</h3>
                    <p>The CentOS Project is a community-driven free software effort focused on delivering a robust open source ecosystem around a Linux platform.</p>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">© 2020 The CentOS Project | <a href="/legal">Legal</a> | <a href="/legal/privacy">Privacy</a></p>
        </div>
    </footer>
</div>

