<nav class="navbar navbar-dark navbar-expand-md fixed-top d-xl-flex justify-content-xl-center align-items-xl-start navigation-clean" style="background-color: rgb(0,0,0);">
    <div class="container"><a href="/"><img src="/assets/img/centos-logo-white.png" height="32" alt="CentOS Project"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div
            class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" href="/download" style="opacity: 0.93;"><i class="fas fa-download"></i>&nbsp;Download</a></li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-info-circle"></i>&nbsp;About&nbsp;</a>
                    <div class="dropdown-menu" role="menu" style="color: rgb(1,44,109);background-color: #000000;"><a class="dropdown-item" role="presentation" href="/about">About CentOS</a><a class="dropdown-item" role="presentation" href="https://wiki.centos.org/FAQ">Frequently Asked Questions (FAQs)</a><a class="dropdown-item" role="presentation"
                            href="https://wiki.centos.org/SpecialInterestGroups">Special Interest Groups (SIGs)</a><a class="dropdown-item" role="presentation" href="/variants">CentOS Variants</a><a class="dropdown-item" role="presentation" href="/about/governance">Governance</a></div>
                </li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-users"></i>&nbsp;Community&nbsp;</a>
                    <div class="dropdown-menu" role="menu" style="background-color: rgb(0,0,0);"><a class="dropdown-item" role="presentation" href="https://wiki.centos.org/Contribute">Contribute</a><a class="dropdown-item" role="presentation" href="https://www.centos.org/forums/">Forums</a><a class="dropdown-item" role="presentation"
                            href="https://wiki.centos.org/GettingHelp/ListInfo">Mailing Lists</a><a class="dropdown-item" role="presentation" href="https://wiki.centos.org/irc">IRC</a><a class="dropdown-item" role="presentation" href="/community/calendar/">Calendar &amp; IRC Meeting List</a>
                        <a
                            class="dropdown-item" role="presentation" href="http://planet.centos.org/">Planet</a><a class="dropdown-item" role="presentation" href="https://bugs.centos.org/">Submit Bug</a><a class="dropdown-item" role="presentation" href="/community/stories">Stories</a></div>
                </li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-book"></i>&nbsp;Documentation&nbsp;</a>
                    <div class="dropdown-menu" role="menu" style="background-color: rgb(0,0,0);"><a class="dropdown-item" role="presentation" href="https://wiki.centos.org/">Wiki</a><a class="dropdown-item" role="presentation" href="https://docs.centos.org/">Manuals</a><a class="dropdown-item" role="presentation" href="/keys">GPG Key Info</a></div>
                </li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="http://wiki.centos.org/Documentation?action=show&amp;redirect=GettingHelp"><i class="far fa-life-ring"></i>&nbsp;Help</a></li>
            </ul>
    </div>
    </div>
</nav>

{% if page.layout == "home" %}
{% include header-home.html %}
{% else %}
{% include header-page.html %}
{% endif %}
