<nav class="navbar navbar-dark navbar-expand-md fixed-top d-xl-flex justify-content-xl-center align-items-xl-start navigation-clean">
    <div class="container"><a href="/"><img src="/assets/img/centos-logo-white.png" height="32" alt="CentOS Project"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div
            class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" href="/download"><i class="fas fa-download"></i>&nbsp;Download</a></li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-question-circle"></i>&nbsp;About&nbsp;</a>
                    <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="/about">About CentOS</a><a class="dropdown-item" role="presentation" href="https://wiki.centos.org/FAQ">Frequently Asked Questions (FAQs)</a><a class="dropdown-item" role="presentation"
                            href="https://wiki.centos.org/SpecialInterestGroups">Special Interest Groups (SIGs)</a><a class="dropdown-item" role="presentation" href="/variants">CentOS Variants</a><a class="dropdown-item" role="presentation" href="/about/governance">Governance</a></div>
                </li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-users"></i>&nbsp;Community&nbsp;</a>
                    <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="https://wiki.centos.org/Contribute">Contribute</a><a class="dropdown-item" role="presentation" href="https://www.centos.org/forums/">Forums</a><a class="dropdown-item" role="presentation"
                            href="https://wiki.centos.org/GettingHelp/ListInfo">Mailing Lists</a><a class="dropdown-item" role="presentation" href="https://wiki.centos.org/irc">IRC</a><a class="dropdown-item" role="presentation" href="/community/calendar/">Calendar &amp; IRC Meeting List</a>
                        <a
                            class="dropdown-item" role="presentation" href="http://planet.centos.org/">Planet</a><a class="dropdown-item" role="presentation" href="https://bugs.centos.org/">Submit Bug</a><a class="dropdown-item" role="presentation" href="/community/stories">Stories</a></div>
                </li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-book"></i>&nbsp;Documentation&nbsp;</a>
                    <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="https://wiki.centos.org/">Wiki</a><a class="dropdown-item" role="presentation" href="https://docs.centos.org/">Manuals</a><a class="dropdown-item" role="presentation" href="/keys">GPG Key Info</a></div>
                </li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="http://wiki.centos.org/Documentation?action=show&amp;redirect=GettingHelp"><i class="far fa-life-ring"></i>&nbsp;Help</a></li>
            </ul>
    </div>
    </div>
</nav>

<div id="centos-banner" class="d-flex align-items-start flex-row">
    <div class="col" style="margin-top: 90px; margin-bottom: 90px">
        <div class="container">
            <div class="row" style="">
                <div class="col" style="">
                  {% if page.layout != "home" %}
                  {% include breadcrumbs.html %}
                  {% endif %}
                  <h1>{{ page.title }}</h1>
                  <p class="lead">{{ page.title_lead }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
