.scrolled {
  background-color: rgba(0,0,0,0.9) !important;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

/* Anchor offset issue-------------------------------------------------- */

html, body {
  scroll-padding-top: 75px;
}

/* Mirrors table's sorting arrows-------------------------------------------------- */

#table-container-table th {
  cursor: pointer;
  /*width: 100px;*/
}

#table-container-table th.sorting_asc {
  background: rgba(0,0,0,0) url(/assets/img/arrow_asc.gif ) no-repeat right center;
  padding-right: 30px;
}

#table-container-table th.sorting_desc {
  background: rgba(0,0,0,0) url(/assets/img/arrow_desc.gif ) no-repeat right center;
  padding-right: 30px;
}

.dataTables_info {
  white-space: nowrap;
}

ol.breadcrumb {
  background-color: rgb(0,0,0,0);
  padding: 0;
  margin-top: 0;
  color: #fff;
}

h1 {
  color: #ffffff;
}

