<!DOCTYPE html>
<html>

{% include head.html -%}

<body style="font-family: Montserrat, sans-serif;">
  {% include header.html -%}
  {{ content }}
  {% include footer.html -%}
  <script src="/assets/js/jquery.min.js"></script>
  <script src="/assets/js/jquery.rss.js"></script>
  <script> 
    jQuery(function($) {
      $("#rss-feeds").rss("https://www.centos.org/assets/planet.rss",{
        limit: 5,
    ssl: true,
    entryTemplate: '<li><a href="{url}">{date} : {title}</a><br/>{shortBodyPlain}</li>'    },
   )
   })
  </script>
  <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
