<!DOCTYPE html>
<html>

{% include head.html -%}

<body style="font-family: Montserrat, sans-serif;">
  {% include header.html -%}

  <div id="centos-content" class="container">
  {% include centos-download-cards.html -%}

  <div class="row">
      <div class="col-md-12">
          <p>In support of this community effort, the CentOS Project provides extensive resources to build, test, release, and maintain code on these platforms.</p>
      </div>
  </div>
  <div class="row">
  {% include centos-news.html %}
  {% include centos-sponsorship.html %}
  {% include centos-around.html %}
  </div>

  </div>

  {% include footer.html -%}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
  <script src="/assets/js/jquery.rss.js"></script>
  <script src="/assets/js/script.min.js"></script>
  <script>
    jQuery(function($) {
      $("#rss-feeds").rss("https://www.centos.org/assets/planet.rss", {
        limit: 5,
        ssl: true,
        entryTemplate: '<li><a href="{url}">{date} : {title}</a><br/>{shortBodyPlain}</li>'
        },
      )
   })
  </script>
</body>

</html>
