<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">

{% include head.html -%}

<body style="font-family: Montserrat, sans-serif;">
  {% include header.html -%}

  <div class="centos-content">
      <div class="container" style="background-color: #fff;">
          <div class="row">
              <div class="col-md-8 col-lg-8">
                {% include centos-news.html -%}
                {% include centos-around.html -%}
              </div>
              <div class="col-md-4 col-lg-4">
                {% include centos-sponsorship.html %}
              </div>
          </div>
      </div>
  </div>

  {% include footer.html -%}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
  <script src="/assets/js/jquery.rss.js"></script>
  <script>
    jQuery(function($) {
      $("#rss-feeds").rss("https://www.centos.org/assets/planet.rss", {
        limit: 5,
        ssl: true,
        entryTemplate: '<li><a href="{url}">{date} : {title}</a><br/>{shortBodyPlain}</li>'
        },
      )
   })
  </script>
</body>

</html>
