---
layout: default
---

<div id="centos-content" class="container">
  {% include centos-download-cards.html %}
  <div class="row">
    <div class="col-md-4 col-xl-3 offset-xl-0" style="padding-top: 34px">
      <h5>Table of contents</h5>
      {% include toc.html html=content %}
    </div>
    <div class="col-md-4 col-xl-9 offset-xl-0" style="padding-top: 25px;padding-right: 45px;">
      <div class="row">
        <p>As you download and use CentOS Linux, the CentOS Project invites you to <a href="http://wiki.centos.org/Contribute">be a part of the community as a contributor</a>. There are many ways to contribute to the project, from documentation,
              QA, and testing to coding changes for <a href="http://wiki.centos.org/SpecialInterestGroup">SIGs</a>, providing mirroring or hosting, and helping other users.</p>
        <p>ISOs are also available <a href="http://isoredirect.centos.org/centos/8/isos/x86_64/">via Torrent</a>.<br></p>
        <p>How to <a href="https://wiki.centos.org/TipsAndTricks/sha256sum">verify</a> your iso<br></p>
        <p>If you plan to create USB boot media, please <a href="https://wiki.centos.org/HowTos/InstallFromUSBkey">read this first</a> to avoid damage to your system.<br></p>
        <p>If the above is not for you, <a href="http://wiki.centos.org/Download">alternative downloads</a> might be.<br></p>
        <p>The <a href="http://wiki.centos.org/Manuals/ReleaseNotes/CentOSLinux8">CentOS Linux 8 release notes</a> and <a href="https://wiki.centos.org/Manuals/ReleaseNotes/CentOSStream">CentOS Stream release notes</a> are continuously updated to include issues and incorporate feedback from users.<br></p>
      </div>
      {{ content }}
    </div>
  </div>
</div>
