---
layout: default
---

<div class="centos-content container">
  {% include centos-download-cards.html %}
  <hr/>
  <div class="row">
    <div class="col-md-4 col-xl-4 offset-xl-0 d-flex float-left d-xl-flex flex-column justify-content-xl-start align-items-xl-start">
      <nav class="section-nav">
      {% include breadcrumbs.html %}
      <strong>Table of content</strong>
      {% include toc.html html=content %}
      </nav>
    </div>
    <div class="col-md-8 col-xl-8 offset-xl-0">
        <p>As you download and use CentOS Linux, the CentOS Project invites you to <a href="http://wiki.centos.org/Contribute">be a part of the community as a contributor</a>. There are many ways to contribute to the project, from documentation,
           QA, and testing to coding changes for <a href="http://wiki.centos.org/SpecialInterestGroup">SIGs</a>, providing mirroring or hosting, and helping other users.</p>
        <p>ISOs are also available <a href="http://isoredirect.centos.org/centos/8/isos/x86_64/">via Torrent</a>.<br></p>
        <p>How to <a href="https://wiki.centos.org/TipsAndTricks/sha256sum">verify</a> your iso<br></p>
        <p>If you plan to create USB boot media, please <a href="https://wiki.centos.org/HowTos/InstallFromUSBkey">read this first</a> to avoid damage to your system.<br></p>
        <p>If the above is not for you, <a href="http://wiki.centos.org/Download">alternative downloads</a> might be.<br></p>
        <p>The <a href="http://wiki.centos.org/Manuals/ReleaseNotes/CentOSLinux8">CentOS Linux 8 release notes</a> and <a href="https://wiki.centos.org/Manuals/ReleaseNotes/CentOSStream">CentOS Stream release notes</a> are continuously updated to include issues and incorporate feedback from users.<br></p>
      {{ content }}
    </div>
  </div>
</div>
