---
layout: page-single
---

{{ content }}

<div class="d-flex flex-wrap">
{% for sponsor in site.sponsors %}
<div class="card flex-grow-1">
      <img class="card-img-top img-fluid" src="{{ sponsor.logo }}" alt="{{ sponsor.name }}">
      <div class="card-body">
        <h4 class="card-title"><strong>{{ sponsor.name }}</strong></h4>
        <p class="card-text">{{ sponsor.description }}</p>
        <a href="{{ sponsor.address }}">{{ sponsor.address }}</a>
      </div>
</div>
{% endfor %}
</div>
