---
layout: default
---

<div class="container">

    <div class="row">
        <div class="col">
            {% include breadcrumbs.html %}
            <div class="jumbotron text-white" style="background-image: url(&quot;/assets/img/centos-motif.png&quot;);">
              <h1><strong>{{ page.title }}</strong></h1>
              <p class="lead">{{ page.title_lead }}<p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
              {{ content | toc }}
            </div>
        </div>
    </div>

</div>

