---
layout: default
---

<div class="centos-content container">
    <div class="row">
        <div class="col-md-4 col-xl-4 offset-xl-0 d-flex float-left d-xl-flex flex-column justify-content-xl-start align-items-xl-start">
          <nav class="section-nav">
          {% include breadcrumbs.html %}
          <strong>Table of content</strong>
          {% include toc.html html=content %}
          </nav>
        </div>
        <div class="col-md-8 col-xl-8 offset-xl-0">
        {{ content }}
        </div>
    </div>
</div>
